
body {
    background-color: #1a1818;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  

li {
  list-style: none;
  color: #FFFFFF;
  font-size: 20px;
}

ul {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

div {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


img {
    margin: 0 20px
}